<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <!-- header para el administrador -->
        <%- include('../partials/headerAdmin') %>

            <main class="main-admin">
                <div class="cargaDeFotos">
                    <div class="volver">
                        <a href="/admin/sucursalList">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
                <section class="charge">
                    <h2>Agregar nueva sucursal</h2>
                    <div class="freight">
                        <form action="">
                            <div class="flex">
                                <label for="location">Localidad</label>
                                <div class="input">
                                    <input type="text" placeholder="Pilar" id="location" name="location" />
                                </div>

                                <label for="direction">Dirección</label>
                                <div class="input">
                                    <input type="text" placeholder="Calle falsa 123" id="location" name="direction" />
                                </div>

                                <label for="telephone">Teléfono</label>
                                <div class="input">
                                    <input type="text" name="telephone" id="telephone" placeholder="0800-0000" />
                                </div>
                            </div>
                            <div class="flex">

                                <label for="schedule">Horarios</label>
                                <div class="input">
                                    <textarea name="schedule" id="schedule" cols="30" rows="10"
                                        placeholder="Lunes-Jueves: 9:00 AM - 5:30 PM"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="btn-publish">
                        <button class="publish" type="submit">Guardar</button>
                    </div>

                </section>
            </main>
    </body>

</html>