<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <!-- header para el administrador -->
        <%- include('../partials/headerAdmin.ejs') %>    

        <main class="main-admin">
            <!-- Mensajede bienvenida con el nombre del administrador -->
            <section class="welcome">
                <h2>¡Bienvenido Administrador!</h2>
            </section>
            <!-- Opciones de administrador -->
            <section class="options-admin">
                <a href="">
                    <div class="administracion">
                        <h4>Administrar productos</h4>
                    </div>
                </a>

                <a href="">
                    <div class="administracion">
                        <h4>Administrar Sucursales</h4>
                    </div>
                </a>

                <a href="">
                    <div class="administracion">
                        <h4>Administrar Usarios</h4>
                    </div>
                </a>

                <a href="">
                    <div class="administracion">
                        <h4>Administrar imágenes del carrusel</h4>
                    </div>
                </a>

            </section>
        </main>

    </body>

</html>