<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <!-- header para el administrador -->
        <%- include('../partials/headerAdmin') %>

            <main class="main-admin">
                <form action="/admin/chargeProduct" method="POST" enctype="multipart/form-data">
                    <div class="cargaDeFotos">
                        <div class="volver">
                            <a href="/admin/productsList">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                        <div class="subirFoto">
                            <div>
                                <label for="productPhoto">
                                    <img src="/img/iconos-png/subirFoto.png" alt="" />
                                </label>
                                <input type="file" name="file" accept=".jpg, .png" multiple id="productPhoto" />
                            </div>
                        </div>
                    </div>
                    <section class="charge">
                        <h2>Agregar nuevo producto</h2>
                        <div class="freight">
                            <div class="form">
                                <div class="flex">
                                    <label for="name">Nombre del producto</label>
                                    <div class="input">
                                        <input type="text" placeholder="Computadora Gamer" id="name" name="name" />
                                    </div>

                                    <label for="price">Precio del producto</label>
                                    <div class="input">
                                        <input type="number" min="0" placeholder="$00.00" id="price" name="price" />
                                    </div>

                                    <label for="dicount">Descuento del producto</label>
                                    <div class="input">
                                        <input type="number" min="0" placeholder="20" id="discount" name="discount" />
                                    </div>

                                    <label for="brand">Marca</label>
                                    <div class="input">
                                        <input type="text" name="mark" id="brand" placeholder="Intel" />
                                    </div>

                                    <label for="categoria-form">Categoría</label>
                                    <div class="input">
                                        <select name="category" id="categoria-form">
                                            <option value="consolas">Consolas</option>
                                            <option value="videojuegos">Videojuegos</option>
                                            <option value="accesorios">Accesorios</option>
                                            <option value="zonaRetro">Zona Retro</option>
                                        </select>
                                    </div>

                                    <label for="subCategoria-form">Subcategoría</label>
                                    <div class="input">
                                        <input list="subCategoria-form" name="subCategory" placeholder="Gamer" />
                                        <datalist id="subCategoria-form">
                                            <option value="modernas">Modernas</option>
                                            <option value="Retro">Retro</option>
                                            <option value="Familiar">Familiar</option>
                                            <option value="ps">Play Station</option>
                                            <option value="nintendo">Nintendo</option>
                                        </datalist>
                                    </div>
                                </div>

                                <div class="flex">

                                    <label for="codigo">Código de producto</label>
                                    <div class="input">
                                        <input type="number" min="0" placeholder="0000" id="codigo" name="code" />
                                    </div>

                                    <label for="stock">Stock</label>
                                    <div class="input">
                                        <input type="number" min="0" placeholder="0" id="stock" name="stock" />
                                    </div>


                                    <label for="description">Descripción del producto</label>
                                    <div class="input">
                                        <textarea name="description" id="description" cols="30" rows="10"
                                            placeholder="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem repudiandae nam accusamus sint eum praesentium, necessitatibus explicabo. Magnam, ab omnis."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-publish">
                            <button class="publish" type="submit">Publicar producto</button>
                        </div>

                    </section>
                </form>
            </main>
    </body>

</html>