<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>

    <body>
        <!-- Comienzo de header -->
        <%- include('./partials/header.ejs') %>
            <!-- Fin del header -->

            <main class="main-btnArrepentimiento">
                <h2>Arrepentimiento de compra</h2>

                <h4>Podrás solicitar la cancelación de tu compra hasta 10 días corridos a partir de la entrega del
                    producto.</h4>

                <div>
                    <h4><b>Si compraste en MYYM.com o de forma telefónica</b>, podrás solicitar la cancelación de tu
                        compra desde <b>Mis Compras</b> siguiendo estos pasos:</h4>
                    <ul>
                        <li>Ingresá a Mis compras con el email de compra.</li>
                        <li>Seleccioná <b>“Necesito ayuda”</b> en la compra a cancelar.</li>
                        <li>Elegí la opción <b>“Quiero cancelar la compra”</b>. ¡Listo!.</li>
                    </ul>
                </div>
                <section>
                    <h5>
                        Si no pudiste solicitar la cancelación desde Mis compras, completá el siguiente formulario.
                        Dentro de las próximas 24hs te enviaremos un email de confirmación con el Nº de solicitud
                        generado.
                    </h5>

                    <form action="">
                        <label for="name">Código de pedido (enviado por email) *</label>
                        <div class="input">
                            <input type="text" placeholder="Computadora Gamer" id="name" />
                        </div>

                        <label for="name">DNI *</label>
                        <div class="input">
                            <input type="text" placeholder="Computadora Gamer" id="name" />
                        </div>

                        <div>

                        </div>
                        <div class="btn-continue">
                            <button class="publish" type="submit">CONTINUAR</button>
                        </div>
                    </form>
                </section>

            </main>


    </body>

</html>