<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYYM Gamers</title>
    <link rel="stylesheet" href="/css/error404.css">
</head>
<body>
    <div>
    <div>
    <h2>
        No se ha encontrado la pagina que has solicitado
    </h2>
    <div class="michi">
        <a href="/"><img src="/img/michi.jpg" alt="michi"></a> 
    </div>
    </div>
</div>
</body>
</html>