<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>MYYM Gamers</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  </head>
  <body>
    <header>
        <div class="burguer-menu">
            <span class="iconify" data-icon="gg:menu" data-inline="false"></span>
        </div>
      <div class="logo">
        <a href="#"><img width="100%" src="/img/Logo.png" alt="logo" /></a>
      </div>
      <form action="">
        <input
          class="search"
          type="text"
          placeholder="Buscar productos, marcas y más"
        />
        <div class="btn-search">
          <i class="fas fa-search"></i>
        </div>
      </form>
      <div class="account">
        <i class="fas fa-user-circle"></i>
        <p>Mi cuenta</p>
        <div class="btn-account">
          <i class="fas fa-chevron-down"></i>
        </div>
      </div>
      <div class="shoppingCart">
        <span class="cart iconify" data-icon="zmdi:shopping-cart-plus" data-inline="false"></span>
          <h4 class="total">$0,00</h4>
          <div class="btn-cart">
            <i class="fas fa-chevron-down"></i>
          </div>
      </div>
      <hr>
      <nav class="main-nav">
          <ul>
              <li><a href="#">Categorías</a></li>
              <li><a href="#">Marcas</a></li>
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Zona retro</a></li>
          </ul>
      </nav>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
