<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>MYYM Gamers</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="nav"> 
        <button class="burguer-menu">
          <i class="open fas fa-bars"></i>
          <i class="close fas fa-times"></i>
        </button>
        <nav class="menu">
          <ul>
            <li class="menu-item">
              <a href="#">Mi cuenta</a>
              <ul class="sub-menu">
                <li><a href="">Regitrarse</a></li>
                <li><a href="">Iniciar sesión</a></li>
                <li><a href="">Favoritos</a></li>
                <li><a href="">Mis compras</a></li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="#">Categorías</a>
              <ul class="sub-menu">
                <li><a href="">Todo</a></li>
                <li><a href="">Consolas</a></li>
                <li><a href="">Videojuegos</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Zona retro</a></li>
                <li><a href="">Marcas</a></li>
              </ul>
            </li>
            <li class="menu-item"><a href="#">Mis favoritos</a></li>
            <li class="menu-item"><a href="#">Mis compras</a></li>
          </ul>
        </nav>
      </div>
      <div class="logo">
        <a href="#"><img width="100%" src="/img/Logo.png" alt="logo" /></a>
      </div>
      <form action="">
        <input
          class="search"
          type="text"
          placeholder="Buscar productos, marcas y más"
        />
        <div class="btn-search">
          <i class="fas fa-search"></i>
        </div>
      </form>
      <div class="account">
        <i class="fas fa-user-circle"></i>
        <p>Mi cuenta</p>
        <div class="btn-account">
          <i class="fas fa-chevron-down"></i>
        </div>
      </div>
      <div class="shoppingCart">
        <div class="cart">
          <i class="fas fa-cart-plus"></i>
        </div>
        <h4 class="total">$0,00</h4>
        <div class="btn-cart">
          <i class="fas fa-chevron-down"></i>
        </div>
      </div>
      <hr/>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
