<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <div class="form-content">
        <div class="iniciar">
            <h2>
            Iniciar Sesion
            </h2>
            <h3>
            ¿No tienes una cuenta? <a href="/register">Registrate</a>
            </h3>
        </div>
        <form action="">
            <div class="form">
                <div class="input-container">
                    <input class="input-style"type="text" placeholder="usuario">
                </div>
            <div class="form">
                <div class="input-container">
                    <input class="input-style" type="password" name="password" placeholder="contraseña">
                </div>
                <div class="old">
                    <span><a href="">¿Olvidaste tu contraseña?</a></span>
                </div>
                <button type="submit" class="btn btn-submit">Ingresar</button>
            </div>
            </div>

        </form>

    </div>
    
</body>
</html>