<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYYM Gamers</title>
    <link rel="stylesheet" href="/css/submit.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <div class="content">
        <div class="content2">
            <h2 class="help">
                La cuenta ha sido creada satisfactoriamente
            </h2>
    <button>Volver al inicio</button>
    </div>
</div>
</body>
</html>