@media screen and (min-width: 769px) {
    div.form div.profileData {
        right: 265px;
        top: 220px;
        position: relative;
    }

    div.form div.profileDatax {
        left: 315px;
        bottom: 240px;
        position: relative;
    }

    .userProfile .avatar {
        left: 220px;
        position: relative;
    }

    #btn-submit {
        top: 190px;
        right: 183px;
        position: relative;
    }
}


