
h2.errorText{
    text-align: center;
    font-family: --font-roboto;
    font-size: 1.6rem;
}


/* main.error {
    display: flex;
    justify-content: center;
    align-items: center;
}  */

div.errorContainer {
    display: flex;
    flex-wrap: wrap;
}

div.imagenCh {
    display: flex;
    align-items: center;
}

div img.cheemsImg {
    width: 100%;
    
}

@media screen and (min-width: 481px) {

    h2.errorText{
        text-align: center;
        font-family: --font-roboto;
        font-size: 2rem;
    }
    
    div.errorContainer {
        display: flex;
        flex-wrap: wrap;
    }
    
    div.imagenCh {
        display: flex;
        align-items: center;
    }
    
    div img.cheemsImg {
        width: 100%;
        
    }
}