@import url(variants.css);

/* header */
header {
    background: linear-gradient(103deg, rgba(0,0,0,1) 0%, rgba(55,4,96,1) 100%); 
    padding: 10px;
}

.burguer-menu {
    color: var(--grey);
    background-color: rgba(196, 196, 196, 0.25);
    border: solid 2px var(--grey); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

div.logo img{
    width: 135px;
    height: 98px;
    border-radius: 50px;
}

.search {
 display: none;
}

.btn-search {
   color: var(--grey); 
   background-color: rgba(196, 196, 196, 0.25);
   border: solid 1px var(--grey);
   border-radius: 20px;
   font-size: 1.2em;
   width: 36px;
   height: 34px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cart {
    color: var(--grey); 
    background-color: rgba(196, 196, 196, 0.25);
    border: solid 1px var(--grey);
    border-radius: 20px;
    font-size: 1em;
    width: 36px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center; 
}