<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
<%- include('../partials/header')%>
    <main class="userProfile">
 
        <div class="profile-container">
            <div class="avatar">
                <img src="/img/userAvatars/defaultAvatarImage.png" alt="">
            </div>
            <div class="profileData">
                <h3 class="profile-title">Datos personales</h3>
                <p class="profile-item">usuario: Cyn</p>
                <p class="profile-item">nombre: Giovanni</p>
                <p class="profile-item">apellido: Giorgio</p>
                <p class="profile-item">Email: email@hotmail.com</p>
                <p class="profile-item">Teléfono: 12352134</p>
            </div>
            <div class="profileDatax">
                <h3 class="profile-title">Datos de contacto</h3>
                <p class="profile-item">Dirección: 1</p>
                <p class="profile-item">Provincia: si</p>            
            </div>
            <div>
                <button id="btn-submit" type="submit" style="color: white" class="btn btn-submit">Editar Datos</button>
            </div>
        </div> 
    </main>
<%- include('../partials/footer')%>
</body>
</html>